.popupbox {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:none;
}

.popupboxhead {
	font-family: Tahoma, Arial;
	font-size: 11px;
	background-color: #f99d39;
	padding:7px;
	color: #ffffff;
	height:18px;
	border-right:1px solid #f99d39;
	border-left:1px solid #f99d39;
}

.popupboxblink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.popupboxcontent {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #333333;
	height:140px;
	width:209px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.popupboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.popupboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
}

.popupboxtextareaselected {
	border: 2px solid #f99d39;
	margin:0;
}

.popupboxmessage {
	margin-left:1em;
}

.popupboxinfo {
	margin-left:-1em;
	color:#666666;

}

.popupboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.popupboxmessagecontent {
}

.popupboxoptions {
	float: right;
}

.popupboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.popupboxtitle {
	float: left;
}

/* gct popup css classes*/
.popup_title_bg
{
	 background:url('../images/popup_titlebg.png') no-repeat;
	 width:756px;
	 height:30px;
	 color:#ebfaff;
	 font-family:Tahoma;
	 font-size:12px;
	 font-weight:bold;
}
.popup_contentbg
{
	 background:url('../images/popup_content_bg.gif') repeat-x;
	 height:124px;
	 border:1px solid #305482;
	 border-top:0;
}
.popup_lbl
{
	 font-size:11px; 
	 font-family:Tahoma; 
	color: #494949;
	 font-weight:bold;
}
.popup_input
{
	background:url('../images/textbox_bg_popup.gif') repeat-x;
	background-position:bottom;
	border:1px solid #c9c9c9;
	height:20px !important;
	font-size:11px; 
	font-family:Tahoma; 
	color:#252525;
}
.popup_textarea
{
	background:url('../images/textarea_poupbg.gif') repeat-x;
	background-position:bottom;
	border:1px solid #c9c9c9;
	height:81px;
	font-size:11px; 
	font-family:Tahoma; 
	color:#252525;
}
.dropdown_pop
{

	font-family:Tahoma; 
	color:#252525;
	height:25px;
}

.popup_add_btn
{
	background:url('../images/add_pop_btn.gif') no-repeat;
	width:37px;
	height:46px;
	cursor:pointer;
	float:left;
	text-decoration:none;
	position:relative; 
	top:10px;
	left:17px;
}
.popup_container
{
	position:absolute; margin-top:-63px;
}
.popup_title
{
	float:left; line-height:30px; width:725px;

}
.pop_close_cont
{
	 text-align:center; padding-top:5px; position:relative; right:-5px; float:left;
}
.grid_top_mar
{
	margin-top:5px;
}

.discount_cont_bg
{
	 background:url('../images/discount_cont_bg.png') no-repeat;
	 width:227px;
	 height:144px;
	 float:left;
	
}
.discount_pop_wrapper
{
	margin: 0pt; margin-left:-170px; *margin-left:-250px; height: 0pt; position: absolute;   top:5px;
}
.discount_title
{
	color:#ebfaff;
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	padding-left:30px;
}
.discount_radio_lbl input
{
float:left;
}
.discount_radio_lbl label
{
float:left;
padding-top:1px;
*padding-top:3px;
padding-right:5px;
}
.padding_rad
{
	position:relative;
	left:17px;
	top:8px;
}
a.add_btn_link
{
	 font-size:11px; 
	 font-family:Tahoma; 
	 font-weight:bold;
	 text-decoration:none;
}
a.add_btn_link span
{
	color: #494949 !important;
}

.popup_title_bg_350
{
	 background:url('../images/popup_titlebg_350.png') no-repeat;
	 width:350px;
	 height:30px;
	 color:#ebfaff;
	 font-family:Tahoma;
	 font-size:12px;
	 font-weight:bold;
}
.popup_title_newbg
{
  background:url('../images/popup_middle.png') repeat;
  height:30px;
  color:#ebfaff;
  font-family:Tahoma;
  font-size:12px;
  font-weight:bold;
}
.popup_content_newbg
{
 background:url('../images/popup_content_newbg.gif') repeat-x bottom;
 border-color:#305482;
 border-style:solid;
 border-width:1px;
 border-top:0px; 
}