body {
	background-color: #FFFFFF;
}

td {
	font: normal 11px Tahoma, Arial;
	color: #494949;
}

h1, h2, h3, h4, h5 {

    color: #460a04;
    margin: 0px;
}


h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}


a {

font: normal 11px Tahoma, Arial;
color: #414141;
}

a:hover {

font: normal 11px Tahoma, Arial;
color: black;
color: #ca6011; 
/*font-weight:bold;*/
text-decoration: none;

}

a.white-link-underline {	
	text-decoration: underline;
	color: #FFFFFF;
}

.white-text{
color: #ffffff;

}


.blye-text-underline {
color: #348cbc;
text-decoration: underline;
}

.blye-text-regular {
color: #348cbc;
}

.yellow-text-regular {
color: #db9a00;
}

.yellow-text-underline {
color: #db9a00;
text-decoration: underline;
}

.orange-text-regular {
color: #ca6011;
}

.orange-text-underline {
color: #ca6011;
text-decoration: underline;
}

.red-text-regular {
color: #920f0d;
}

.red-text-underline {
color: #920f0d;
text-decoration: underline;
}


.gray-text{
color: #4c4c4c;
}

.green-text{
color: #76950b;
}

/* SanghSheel */
.body {
	background-color: #5F6062;
}

.lblBold
{
    font: normal 11px Tahoma, Arial;
	color: #494949;
	font-weight:bold;    
}

.style1 
{
    color: #FF0000;
    font-weight:bold;
}

.table 
{
    border: 1px solid #E6EDF5; 
}

.tdAlign {
	font: normal 11px Tahoma, Arial;
	color: #494949;
	text-align:right;
	padding-right:5px;
}

.tdAlignLeft {
	font: normal 11px Tahoma, Arial;
	color: #494949;
	text-align:left;
	padding-right:5px;
}

.tdBullet 
{
    width:18%;
    text-align:right;
	padding-right:4px;
}



span
{
    color:#FFFFFF;
}

.grdFooterStyle
{
    background-color:#5F6062;
    font-weight:bold;
    color:#FFFFFF;
}
.grdRowStyle
{
    color:#333333;
}
.grdEditRowStyle
{
    color:#999999;
}
.grdSelectedRowStyle
{
    background-color:#E2DED6;
    font-weight:bold;
    color:#333333;
}
.grdPagerStyle
{
    background-color:#5F6062;
    font-weight:bold;
    color:#FFFFFF;
    text-align:left;
    vertical-align:middle;
    height:15px;
}
.grdHeaderStyle
{
    background-color:#5F6062;
    font-weight:bold;
    color:#FFFFFF;
    text-align:left;
    vertical-align:middle;
    height:15px;
}
.grdAlternatingRowStyle
{
    background-color:#EDEDEE;
    color:#284775;
}
.leftlink 
{
    font: normal 11px Tahoma, Arial;
    color: #414141;
    width:150px;
    height:34px;
}

.imgLogin 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../Images/login.png);
}
.imgReset 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../Images/reset.png);
}
.imgCancel
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../Images/cancel.png);
}
.imgSave 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../Images/save.png);
}
.imgSubmit
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../Images/submit.png);
}
.imgNext 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../Images/Next.png);
}
.imgSend 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../Images/send.png);
}
.imgInternalUser 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/InternalUser.png);
}
.imgAddInternalUser 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddInternalUser.png);
}
.imgExternalUser 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/ExternalUser.png);
}
.imgAddExternalUser 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddExternalUser.png);
}
.imgWarehouse 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/Warehouse.png);
}
.imgAddWarehouse 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddWarehouse.png);
}
.imgGlobalParameters
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/GlobalParameters.png);
}
.imgAddCompany
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddCompany.png);
}
.imgExchangeRates
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/ExchangeRates.png);
}
.imgAddCurrency 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddCurrency.png);
}
.imgProcessGroup
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/ProcessGroup.png);
}
.imgAddProcess 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddProcess.png);
}
.imgVendor
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/Vendor.png);
}
.imgAddVendor
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddVendor.png);
}
.imgDistributor
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/Distributor.png);
}
.imgAddDistributor
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddDistributor.png);
}
.imgReseller
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/Reseller.png);
}
.imgAddReseller
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddReseller.png);
}
.imgEndClient
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/EndClient.png);
}
.imgAddEndClient
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddEndClient.png);
}
.imgAddress
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/Address.png);
}
.imgAddAddress
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddAddress.png);
}
.imgInventory
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/Stock.png);
}
.imgProcurement
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/PurchaseOrder.png);
}
.imgReceiving
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/Receiving.png);
}
.imgSales
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/SalesOrder.png);
}
.imgShipping
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/Shipping.png);
}
.imgInvoice
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/Invoice.png);
}
/* Receiving Image Start */
.imgPONumber
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/PONumber.png);
}
.imgReceiptNo
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/ReceiptNo.png);
}
.imgVendorID
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/VendorID.png);
}
.imgUPCCode
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/UPCCode.png);
}
.imgToday
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/Today.png);
}
.imgThisWeek
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/ThisWeek.png);
}
.imgNextWeek
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/NextWeek.png);
}
.imgAll
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/All.png);
}
.imgUpdateReceivingStatus
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/UpdateReceivingStatus.png);
}
.imgCloseReceiving
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/CloseReceiving.png);
}
.imgSearch
{
    cursor: pointer;
    width:24px;
    height:24px;
    border-width:0px;
    background:url(../images/search.png);
}
/* Receiving Image Close */
/* Shipping Image Start */
.imgOrderNo
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/OrderNo.png);
}
.imgCustomerName
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/CustomerName.png);
}
.imgSalesAgentName
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/SalesAgentName.png);
}
.imgShippingTrackNo
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/ShippingTrackNo.png);
}
.imgCurrentWorkOrders
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/CurrentWorkOrders.png);
}
/* Shipping Image Close */
.imgAddNewVendor
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../images/AddNewVendor.png);
}
.imgAddNewCustomer
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../images/AddNewCustomer.png);
}
.imgIntGenerateInvoice
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:110px;
    height:26px;
    border-width:0px;
    background:url(../images/genInv.png);
    background-repeat:no-repeat ;
}
.imgDupOrder
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:120px;
    height:26px;
    border-width:0px;
    background:url(../images/dupOrd.png);
    background-repeat:no-repeat ;
}
.imgDupPurOrder
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:26px;
    border-width:0px;
    background:url(../images/dupPurOrd.png);
    background-repeat:no-repeat ;
}
/**Styling information specific to individual content pages**/

/* Accordion */
.accordionHeader
{
    border: 0px solid #2F4F4F;
    color: #FFFFFF;
    background: url(../images/back1.gif) rgb(137,135,135) repeat-x left top;
    /*background-color:#E0E0E1;*/
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    text-align:center;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color:White;
    border: 0px solid #2E4d7B ;
    border-top: none;
    padding: 1px;
    padding-top: 10px;
}
/*CollapsiblePanel*/
.collapsePanel {
	
	background-color:white;
	overflow:hidden;
}

.collapsePanelHeader{	
	width:100%;		
	height:30px;
	background-image: url(Images/header2.JPG);
	background-repeat:repeat-x;
	color: #FFF;
	font-weight:bold;
}
A.controlPanelMenuoption {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #999999
}
A.controlPanelMenuoption:link {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #999999
}
A.controlPanelMenuoption:visited {
	COLOR: #999999
}
A.controlPanelMenuoption:active {
	COLOR: #cccccc
}
A.controlPanelMenuoption:hover {
	COLOR: #0000ff
}
#master_content .collapsePanelHeader a {color:#FFF;}
#master_content .collapsePanelHeader a:hover {text-decoration:none;background:none;}
.price
{
    text-align:right;
    padding-right:12px;
}
/* SanghSheel */

/* Mayank */

.lblHeading
{
    font: normal 14px Tahoma, Arial;
    color: #494949;
    font-weight:bold;    
}

.leftHeading
{
    font: normal 12px Tahoma, Arial;
    font-weight:bold; 
    color: #ca6011;  
}

.tdBorder
{
    /*border:1;
    border-color: #B9B9BC; */
    background-color: #E0E0E1; 
    border-right: #CD9232 1pt solid;
    border-top  : #CD9232 1pt solid;
    border-left: #CD9232 1pt solid;
    border-bottom: #CD9232 1pt solid;   
}

.innerText
{
    font : normal 11px Tahoma, Arial;
    color : #494949;    
}

.txtBoxPrd
{
    width:150px;
    font : normal 11px Tahoma, Arial;
    color : #494949;    
}

.PopBoxImageSmall
{
     border: none 0px #ffffff;
     cursor: url("../images/magplus.cur"), pointer;
}
.PopBoxImageLarge
{
     border: solid 1px #999999;
     cursor: url("../images/magminus.cur"), pointer;
}
.PopBoxImageShrink
{
    cursor: url("../images/magminus.cur"), pointer;
}
.PopBoxImageLink
{
    cursor: pointer;
}
.PopBoxImageMove
{
     border: none 0px #ffffff;
     cursor: pointer;
}
.tblBorder 
{
    border: 1px solid #D2D2D5; 
}
.popupTR
{
  height:40px;
  border-color:#356083;
  border:1px; 
  border-style:solid;
  background:url(../images/popupBgHdr.jpg);
}

.popupTable
{
    background:url(../images/popupbg.jpg);
    border:2px; 
    border-style:solid;
}

.AlbumColor
{
 background:#F7DFB5;
 font-size: 10pt;
 font-weight: bold; 
 border-right: #CD9232 1pt solid;
 border-top: #CD9232 1pt solid;
 border-left: #CD9232 1pt solid;
 border-bottom: #CD9232 1pt solid;
}

.lblPOSPrintBold
{
    font: normal 11px Tahoma, Arial;
	color: #494949;
	font-weight:bold;
	font-size:9px;    
}
.lblPOSPrint
{
    font: normal 11px Tahoma, Arial;
	color: black;
	font-size:9px;    
}
.POSPrintalign
{
 padding-right:5px;
 text-align:center;   
}

/* Mayank */

.imgAddNewOrder 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddNewOrder1.png);
     background-repeat:no-repeat ;
}


/* Communication Portal */
.imgSystemUser 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/InternalUser.png);
}
.imgAddSystemUser 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddInternalUser.png);
}
.imgPartner 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/Partner.png);
}
.imgAddPartner 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddPartner.png);
}
.imgViewContacts 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/ViewContacts.png);
}
.imgAddContact 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddContact.png);
}
.imgViewAlerts 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/ViewAlerts.png);
}
.imgAddAlert 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/AddAlert.png);
}
.imgMassEmail 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/MassEmail.png);
}
.imgReports 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../Images/Reports.png);
}
.imgAdd 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../Images/Add.png);
}
.imgBack 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../Images/Back.png);
}
.imgSendMail
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../Images/SendMail.png);
}
.imgTestMail
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../Images/TestMail.png);
}
.lblSimple
{
    font: normal 11px Tahoma, Arial;
	color: #494949; 
}
.lblGray
{
    font: normal 11px Tahoma, Arial;
	color: #C9C9C9;  
}
.tdSpaceWidth 
{
    width:10px;
}
.popup 
{
    width: 300px;
    height: 160px;
    background-color:#f5e28c;
    color: #222;
    font-family:Tahoma;
    padding:10px;
}

.dollar
{
    width: 80px;
    height: 40px;
    background-color:#8CBE31;
    color: Black;
    font-size:22px;
    font-weight:bold;
}

.txtBoxAmountForPOS
{
    width:170px;
    font : normal 11px Tahoma, Arial;
    color : #494949;
    font-size:16px;
    font-weight:bold;
    text-align:right;    
}

.tblPOSMenuPrd
{
 border-right: #CD9232 2pt solid;
 border-top: #CD9232 2pt solid;
 border-left: #CD9232 2pt solid;
 border-bottom: #CD9232 2pt solid;
    height:80px;
    width:90px;
}

/* Communication Portal */

/* Anoop for Pinpad print */

.lblPOSPinpadPrintBold
{
    font: normal 4px Tahoma, Arial;
	color: #494949;
	font-weight:bold;
	font-size:xx-small 
}
.lblPOSPinpadPrintBoldCust
{
    font: normal 4px Tahoma, Arial;
	color: #494949;
	font-weight:bold;
	font-size:xx-small 
}
.lblPOSPinpadPrint
{
    font: normal 4px Tahoma, Arial;
	color: black;
	font-size:xx-small
}

.lblPOSPinpadPrintCust
{
    font: normal 4px Tahoma, Arial;
	color: black;
	font-size:xx-small
}

.POSPinpadPrintalign
{
 padding-right:2px;
 text-align:center;   
}

/* Button CSS */
a.ovalbutton{
background: transparent url('../images/oval-gray-left.gif') no-repeat top left;
display: block;
float: left;
font: normal 13px Tahoma; /* Change 13px as desired */
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 24px; /* Height of button background height */
padding-left: 11px; /* Width of left menu image */
text-decoration: none;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
color: Black; /*button text color*/
}

a.ovalbutton span{
background: transparent url('../images/oval-gray-right.gif') no-repeat top right;
display: block;
padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.ovalbutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: Gray;
}

span.ovalbutton{
color: Black; /*button text color*/
}

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
}

.tblBorder
{
    border-right: gray 1pt solid;
    border-top  : gray 1pt solid;
    border-left: gray 1pt solid;
    border-bottom: gray 1pt solid;
}


.smallbutton{ 
overflow: hidden; 
width: 100px;
}

/*.titleBgColor
{
  background-color:#E0E0E1;  
}*/

.titleBgColor {
  color: black;
  background: url(../images/back1.gif) rgb(137,135,135) repeat-x left top;
  border: 1px solid rgb(107,107,107);
  height: 2em;
}

.titleBgColorPos 
{
  background-color:#E0E0E1; 
}



.CalenderTab
{
  background:#CBE9FB;  
   height:22px; 
}

.CalenderGrid 
{
   font-family: normal 11px Tahoma, Arial; 
   font-size: 9pt;
   font-weight:bold;
   color:White;
   background:#CBA180;
}

.CalenderTabFont
{
   text-decoration:none;
   font-weight:bold;
   color:Black;
}

.CalenderAlternatingRow
{
   color:#284775;
   background:#F2F2F2;
}

.fontLable 
{
    font-family: normal 11px Tahoma, Arial; 
    font-size: 9pt;
}


.trNew
{
 background:#CBE9FB;
}

.HomeCal
{
	background-color:aliceblue;
	width:130px;
	height:18px;
	}
	.iconDetails
	 {
    background: url(../images/view.gif) no-repeat left top;
    display:inline;
    padding-left:18px;
    margin-left: 10px;
    padding-right:10px;
}

span[disabled] {
	color:#000;
}
