/** Reset **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}
em {
	font-style:normal;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/** Reset end **/

html,body {
	font-family:Verdana,Arial;
	font-size:10pt;
}
a {
	color:#3daccc;
	cursor:pointer;
}

.nav {
	height:40px;
	background-color: #F6F6F7;
}
.nav li a {
	float:left;
	margin:10px 0 0 10px;
	padding:2px 5px;
	font-weight:normal;
	padding-left:6px;
	padding-right:6px;
	line-height: 1.8em;
}
.nav li a.selected {
	background-color:#FFF;
	background-color:#FFFFFF;
	border-color:#DFDFDF #DFDFDF #FFFFFF;
	border-style:solid;
	border-width:1px;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
}
#body {
	/*padding:15px 0 15px 15px;*/
}


.upload label {
	line-height:30px;
	float:left;
	margin: 0 10px 0 0;
}
.url {
	width:445px;
}
.url label {
	color: #444;
	float:left;
	width:180px;
	clear:left;
	line-height:20px;
}
.url input {
	border:1px solid #DFDFDE;
	font-size:10pt;
	margin-bottom:12px;
	padding:3px 5px;
	width:250px;
}

/** Image Gallery **/
#gallery {
	margin-top:10px;
	height:396px;
	overflow:auto;
}
#gallery li {
	float:left;
	height:100px;
	width:100px;
	padding:5px;
	border:1px solid #cecece;
	margin:10px;
	position:relative;
}

#gallery a {
	position:absolute;
	background:#000;
	display:none;
}
#gallery li:hover a {
	display:inline;
	text-decoration: none;
}
#gallery a.insert,#gallery a.delete {
	background:url("../img/actions.png") no-repeat scroll 0 -40px transparent;
	cursor:pointer;
	height:25px;
	position:absolute;
	top:40%;
	left:40%;
	width:25px;
}
#gallery a.delete {
	background-position: 0 0;
	height:16px;
	width:16px;
	left:82%;
	top: 4%;
}
.button {
	display:inline-block;
	padding:0 10px;
	font:bold 10pt/27pt Verdana;
	border:1px solid #4b7191;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background-color:#729cba;
	background: -webkit-gradient(linear, left top, left bottom, from(#8fb7d3), to(#5983a1));
	background: -moz-linear-gradient(top,  #8fb7d3,  #5983a1);
	white-space:nowrap;
	color:#1b8510;
	text-shadow:0 -1px 0 #475E6F;
	padding:0 12px;
	text-align: center;
	color:#fff;
	-webkit-box-shadow:inset 0 1px #b6d2e6;
	-moz-box-shadow:inset 0 1px #b6d2e6;
	box-shadow:inset 0 1px #b6d2e6;
	text-align: center;
}
.button:hover {
	background-color:#608ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#97c1dd), to(#608ead));
	background: -moz-linear-gradient(top,  #97c1dd,  #608ead);
	text-decoration: none;
}


.file-upload .button {
	line-height: 20pt;
}

.file-upload .progress {
	overflow:hidden;
	padding:0 10px;
	line-height: 19pt;
	display:inline-block;
	position:relative;
	background-color:#98cb32;
	border:1px solid #74a225;
}
.file-upload .progress em {
	position:relative;
	z-index: 5;
	font:bold 8pt/20pt Verdana;
	color:#fff;
	text-shadow:0 -1px 0 #475E6F;
}
.file-upload .progress .bar {
	width:100%;
	position:absolute;
	left:-1px;
	top:0;
	line-height:20pt;
	height:20pt;
	z-index:1;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	background-color:#729cba;
}
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 230px; text-align: left; }
  .tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-arrow { position: absolute; background: url('../img/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
  .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }