﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="popup.master.cs" Inherits="Admin_popup" %>
<%@ Import Namespace="iTECH.InbizERP.BusinessLogic" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Inbiz - 4.0</title>
    <%--Include css files starts here.--%>
    <link href="../lib/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../lib/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../lib/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="../lib/css/inbiz/jquery-ui-1.8.12.custom.css" rel="stylesheet" type="text/css" />
    <link href="../lib/scripts/jquery.jqGrid-4.0.0/css/ui.jqgrid.css" rel="stylesheet"
        type="text/css" media="screen" />
    <link href="../lib/scripts/chosen.jquery/chosen.css" rel="stylesheet" type="text/css" />
    <%=UIHelper.GetScriptTags("jquery,jqueryui,json,jsload,messagebox,jqgrid,framedialog,jqchosen", 4)%>     
    <script src="../lib/scripts/jquery-plugins/jquery.numeric.js" type="text/javascript"></script>
    <script src="../lib/scripts/jquery-plugins/jquery.addplaceholder.js" type="text/javascript"></script>

    <asp:ContentPlaceHolder ID="cphHead" runat="server">
    </asp:ContentPlaceHolder> 
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '<%=System.Configuration.ConfigurationManager.AppSettings["JavaScriptCode"] %>', 'itechcanada.com');
            ga('send', 'pageview');

    </script>   
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="MasterScriptManager" EnableScriptGlobalization="true" runat="Server">
    </asp:ScriptManager>
    <!-- CONTENT -->
    <div id="global_message_container">
    </div>
    <asp:ContentPlaceHolder ID="cphMaster" runat="server">
    </asp:ContentPlaceHolder>
    <asp:Panel ID="pnlMessageScript" runat="server">
        <script type="text/javascript">
            function getGlobalMessage() {
                $.ajax({ url: '<%=ResolveUrl("~/Handlers/AsyncMessageHandler.ashx") %>',
                    global: false,
                    type: "POST",
                    dataType: "html",
                    async: false,
                    success: function (msg) {
                        if (msg != 404) {
                            $("#global_message_container").html(msg);
                            $(window).trigger("resize");
                        }
                    }
                });
            }
            $(document).ready(function () {
                getGlobalMessage();
            });
        </script>
    </asp:Panel>
    <asp:ContentPlaceHolder ID="cphScripts" runat="server">
    </asp:ContentPlaceHolder>
    <script type="text/javascript">
        $(".numericTextField").numeric();
        $(".integerTextField").numeric(false, function () { alert("Integers only"); this.value = ""; this.focus(); });

        $("select.modernized_select").chosen({ allow_single_deselect: true });

        function masterBlockContentArea(elementToBlock, loadingMessage) {
            $(elementToBlock).block({
                message: '<div>' + loadingMessage + '</div>',
                css: { border: '3px solid #a00' }
            });
        }
        function masterUnblockContentArea(elementToBlock) {
            $(elementToBlock).unblock();
        } 
     </script>
    </form>
</body>
</html>
