@charset utf-8;
body{font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;color:#FFFEFD;font-size:12px;text-align:justify;background-color:#FFFEFD;background-image:url(../image/login/bck_body.jpg);background-repeat:repeat-x;height:100%;margin:0;padding:0;}
#outer{height:100%;overflow:hidden;position:relative;}
#outer[id]{display:table;position:static;}
#middle{position:absolute;top:50%;}
#middle[id]{display:table-cell;vertical-align:middle;width:100%;height:400px;}
#inner{position:relative;top:-50%;height:400px;}
.inner{width:490px;position:relative;margin:0 auto;}
.inner .glow{width:490px;height:395px;display:block;padding-top:20px;background-image:url(../image/login/bck_glow.png);}
.inner .glow .content{border:2px solid #B9CAD3;width:365px;height:290px;display:block;background-image:url(../image/login/bck_content.png);margin:0 auto;padding:30px;}
.inner .glow .content .logo{width:160px;height:70px;display:block;background-image:url(../image/login/logo.png);}
.inner .glow .content p{font-style:italic;padding-top:10px;padding-bottom:10px;}
.inner .glow .content a{color:#FEFDFB;font-style:italic;text-decoration:underline;}
.inner .glow .content a:hover{color:#B9CAD3;}
.inner .glow .content table tr td.text{text-align:left;padding-right:5px;}
.inner .glow .content table tr td.input{text-align:left;padding-left:5px;}
.inner .glow .content table tr td.forgetLink{text-align:right;}
.inner .glow .content table tr td{padding-bottom:10px;}
input{border:1px solid #7B9DAF;margin-bottom:0;}