.popupbox {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:none;
}

.popupboxhead {
	font-family: Tahoma, Arial;
	font-size: 11px;
	background-color: #f99d39;
	padding:7px;
	color: #ffffff;
	height:18px;
	border-right:1px solid #f99d39;
	border-left:1px solid #f99d39;
}

.popupboxblink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.popupboxcontent {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #333333;
	height:140px;
	width:209px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.popupboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.popupboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
}

.popupboxtextareaselected {
	border: 2px solid #f99d39;
	margin:0;
}

.popupboxmessage {
	margin-left:1em;
}

.popupboxinfo {
	margin-left:-1em;
	color:#666666;

}

.popupboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.popupboxmessagecontent {
}

.popupboxoptions {
	float: right;
}

.popupboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.popupboxtitle {
	float: left;
}