﻿    .mGrid table {   
         border:1px solid #525252; padding:0px; margin:0px; border-spacing:0px;
         font-family: Lucida Sans;
         font-size:16px;
         width:1px;
    }  
    .mGrid td {   
        padding:8px;
        border-right:1px solid #525252;
        border-top:1px solid #ffffff;
    }  
    .mGrid .grid_header {   
        padding:6px;
        background-image: url(/lib/image/bck_SubTable.jpg); 
        color:#ffffff
    }  
    .mGrid .grid_header a{   
        color:#ffffff
    }  
    .mGrid .grid_header a:hover{   
        color:#ffffff;
        text-decoration:underline

    }  
    
    .mGrid .grid_alter_rowstyle {   background-color:#B9CAD3 }  
  
    .mGrid .grid_pager {   background-color:#B9CAD3 }  
    .mGrid .grid_pager table {margin:2px;} 
    .mGrid .grid_pager tr td {   background-color:#ffffff; margin-right:4px; }  
  