@charset "utf-8";
/* CSS Document */

/*BODY*/
body,td,th {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 11px;
	color: #515151;
	width:100%;  
}
body 
{
    width:100%;   
	background-color: #E6EBED;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../image/bck_container.png);
	background-position:top center;
	background-repeat: repeat-y;

}

/*TEXT COLOR*/
.lightGray{ color:#B8C9D2;}
.white{ color:#FDFDFA;}
.green{
	color:#1A9F00;
}

/*LINK*/
a {
	font-size: 11px;
	color: #185375;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
	color: #1A9F00;
}

/*TITLE*/
h1 {
	font-size: 18px;
	color: #1A9F00;
	display: block;
	margin: 0px;
	height: 30px;
	line-height: 30px;
}
h2 {
	font-size: 12px;
	color: #515151;
	display: block;
	height: 25px;
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #515151;
	line-height: 25px;
	font-weight: bold;
	text-align: left;
}
h3 {
	font-size: 11px;
	color: #393839;
	display: block;
	height: 30px;
	background-image: url(../image/bck_h3.png);
	background-repeat: repeat-y;
	line-height: 30px;
	padding-left: 12px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 12px;
}
h4 {
	font-size: 11px;
	color: #393839;
	display: block;
	height: 30px;
	background-image: url(../image/bck_titleWhite.png);
	background-repeat: repeat-y;
	line-height: 30px;
	padding-left: 12px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 12px;
}
h5 {
	font-size: 14px;
	color: #5C5C5C;
}
h6 {
	font-size: 12px;
	color: #1A9F00;
}


/*PARAGRAPHE*/
p {
	text-align: justify;
}

/*SPACE*/
.clear {
	clear: both;
	height:20px;
}

/*INPUT*/
input {
	border: 1px solid #7B9DAF;
	margin-bottom: 0px;
}
